.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  margin-top: 10vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: grey;
}

.App-form{
  text-align: left;
}

.App-form > input {
  width: 3vmin;
  height: 3vmin;
  margin-right: 1vmin;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  0% {
    transform: rotate(0deg) scale(100%);
  }
  25% {
    transform: rotate(90deg) scale(90%);
  }
  50% {
    transform: rotate(180deg) scale(100%);
    }
  75% {
    transform: rotate(270deg) scale(90%);
  }
  100% {
    transform: rotate(360deg) scale(100%);
  }
}

.web-options{
  margin: 5vmin;
  padding: 2vmin;
  border: 1pt solid lightslategray;

}
.web-options > input {
  width: 6vmin;
  height: 3vmin;
  margin-right: 1vmin;
  font-size: inherit;
  color: lightslategrey;
  text-align: end;
}
